
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DangNhap.css" rel="stylesheet" />
        <main class="login-background-parent">
            <img class="login-background-icon"
                 alt=""
                 src="~/Content/img/full-shot-woman-helping-man-work-out-Recovered.jpg" />

            <section class="login-form">
                <div class="login-inputs">
                    <form class="frame-parent">
                        <div class="email-input-parent">
                            <div class="email-input">
                                <div class="email-label">
                                    <h1 class="cho-mng-tr">Chào mừng trở lại!</h1>
                                    <div class="signup-link">
                                        <h3 class="bn-cha-c-container">
                                            <span class="bn-cha-c-ti-khon">
                                                <span class="bn-cha-c">Bạn chưa có tài khoản? </span>
                                                <span class="span"> </span>
                                            </span>
                                            <span class="ng-k">
                                                <b class="ng-k1">Đăng ký</b>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="email-input-inner">
                                    <div class="rectangle-parent">
                                        <div class="frame-child"></div>
                                        <div class="rectangle-group">
                                            <div class="frame-item"></div>
                                            <input class="email" placeholder="Email" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="password-icon">
                                <div class="rectangle-container">
                                    <div class="frame-inner"></div>
                                    <input class="frame-input"
                                           placeholder="Mật khẩu"
                                           type="text" />

                                    <img class="eye-icon" alt="" src="./public/eye.svg" />
                                </div>
                            </div>
                            <div class="forgot-password">
                                <div class="forgot-password-link">
                                    <div class="login-button-background-parent">
                                        <div class="login-button-background"></div>
                                        <div class="ghi-nh-ng-nhp-wrapper">
                                            <div class="ghi-nh-ng">Ghi nhớ đăng nhập</div>
                                        </div>
                                    </div>
                                    <h3 class="qun-mt-khu">Quên mật khẩu?</h3>
                                </div>
                            </div>
                        </div>
                        <div class="login-button">
                            <button class="group-button">
                                <div class="rectangle-div"></div>
                                <div class="ng-nhp1">ĐĂNG NHẬP</div>
                            </button>
                        </div>
                        <div class="divider">
                            <div class="frame-group">
                                <div class="line-wrapper">
                                    <div class="line-div"></div>
                                </div>
                                <div class="or">or</div>
                                <div class="line-container">
                                    <div class="frame-child1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="social-login">
                            <div class="social-buttons">
                                <div class="group-div">
                                    <div class="frame-child2"></div>
                                    <div class="google-1-wrapper">
                                        <img class="google-1-icon"
                                             loading="lazy"
                                             alt=""
                                             src="./public/google-1@2x.png" />
                                    </div>
                                    <h3 class="ng-nhp-vi">Đăng nhập với Google</h3>
                                </div>
                                <div class="rectangle-parent1">
                                    <div class="frame-child3"></div>
                                    <div class="facebook-1-wrapper">
                                        <img class="facebook-1-icon"
                                             loading="lazy"
                                             alt=""
                                             src="./public/facebook-1@2x.png" />
                                    </div>
                                    <h3 class="ng-nhp-vi1">Đăng nhập với Facebook</h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <img class="image-14-icon"
                     loading="lazy"
                     alt=""
                     src="./public/image-14@2x.png" />
            </section>
        </main>


