
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DichVu.css" rel="stylesheet" />
<body>
    <div class="dch-v-2">
        <section class="dch-v-2-inner">
            <div class="frame-parent">
                <div class="first-heading-container-wrapper">
                    <div class="first-heading-container">
                        <div class="lp-tp-yoga-power-fitness-p-wrapper">
                            <h1 class="lp-tp-yoga">
                                LỚP TẬP YOGA Ở POWER FITNESS PHÙ HỢP VỚI
                            </h1>
                        </div>
                        <div class="second-heading-container">
                            <div class="ngi-mi-bt-u-nhng-lp-t-wrapper">
                                <div class="ngi-mi-bt-container">
                                    <p class="ngi-mi-bt">NGƯỜI MỚI BẮT ĐẦU</p>
                                    <p class="blank-line">&nbsp;</p>
                                    <p class="nhng-lp-tp">
                                        Những lớp tập luyện chuyên sâu trong Yoga, bạn có thể dễ
                                        dàng nắm các tư thế tập luyện chuẩn xác, bạn sẽ nhanh
                                        chóng có sự gợi cảm giác an toàn khi tập. Các buổi luyện
                                        tập của HLV được thiết kế để tay mới dễ dàng tiếp cận
                                        nhanh nhất.
                                    </p>
                                </div>
                            </div>
                            <img class="tap-yoga-o-citigym-1-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/Content/img/tap-yoga-o-citigym 1.png" />
                        </div>
                    </div>
                </div>
                <div class="schedule-container-wrapper">
                    <div class="schedule-container">
                        <div class="weekly-schedule-container">
                            <div class="lp-yoga-hng-container">
                                <p class="lp-yoga-hng">50+ LỚP YOGA HÀNG TUẦN</p>
                                <p class="blank-line1">&nbsp;</p>
                                <p class="lch-tp-luyn">
                                    Lịch tập luyện nhiều cấp, có lớp chuyên sâu. Các dạng bài
                                    tập hình Yoga và cấp độ Giảng dạy bởi Yoga Alliance tại Việt
                                    Nam. Bạn có thể đăng ký lịch và tham gia dễ dàng mỗi tuần.
                                </p>
                            </div>
                        </div>
                        <div class="gentle-yoga-container">
                            <div class="gentle-yoga-image-container">
                                <div class="gentle-yoga-kha-container">
                                    <p class="gentle-yoga">Gentle Yoga</p>
                                    <p class="blank-line2">&nbsp;</p>
                                    <p class="kha-tp-luyn">
                                        Khóa tập luyện nhẹ nhàng với các bài tập giúp bạn thư giãn
                                        và mang lại cảm giác dễ chịu cho cơ thể và tinh thần. Bài
                                        tập này chủ yếu là các động tác dễ thực hiện nhằm giảm
                                        stress, cải thiện sức khỏe và phù hợp với người mới bắt
                                        đầu hoặc người cao tuổi. Lớp học giúp bạn cảm thấy thoải
                                        mái và thư thái sau mỗi buổi tập.
                                    </p>
                                </div>
                            </div>
                            <img class="image-5-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/Content/img/image 5.png" />
                        </div>
                    </div>
                </div>
                <div class="hatha-yoga-container">
                    <img class="image-4-icon"
                         loading="lazy"
                         alt=""
                         src="~/Content/img/image 4.png" />

                    <div class="hatha-yoga-cc-bi-tp-hatha-y-wrapper">
                        <div class="hatha-yoga-cc-container">
                            <p class="hatha-yoga">Hatha Yoga</p>
                            <p class="blank-line3">&nbsp;</p>
                            <p class="cc-bi-tp">
                                Các bài tập Hatha Yoga tập trung vào các tư thế cơ bản trong
                                Yoga, đây là phương pháp truyền thống, giúp cải thiện sự linh
                                hoạt và tăng cường sức mạnh. Bài tập bao gồm các tư thế đứng,
                                ngồi và nằm kết hợp với kỹ thuật thở. Lớp học giúp cân bằng cơ
                                thể và tâm trí, mang lại cảm giác thư giãn và sảng khoái.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ashtanga-container">
                    <img class="image-3-icon"
                         loading="lazy"
                         alt=""
                         src="~/Content/img/image 3.png" />

                    <div class="ashtanga-lp-ashtanga-yoga-l-wrapper">
                        <div class="ashtanga-lp-ashtanga-container">
                            <p class="ashtanga">Ashtanga</p>
                            <p class="blank-line4">&nbsp;</p>
                            <p class="lp-ashtanga-yoga">
                                Lớp Ashtanga Yoga là chuỗi các bài tập mạnh mẽ và nhanh chóng,
                                mang lại sức mạnh và sự linh hoạt cho cơ thể. Bài tập đòi hỏi
                                sự kiên trì và chính xác, bao gồm các động tác liên hoàn, đẩy
                                mạnh cơ bắp, tăng cường sức khỏe. Đây là lớp học phù hợp với
                                người có kinh nghiệm hoặc muốn thử thách bản thân trong Yoga.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="vinyasa-container">
                    <div class="vinyasa-content">
                        <div class="vinyasa-lp-vinyasa-yoga-l-s-wrapper">
                            <div class="vinyasa-lp-vinyasa-container">
                                <p class="vinyasa">Vinyasa</p>
                                <p class="blank-line5">&nbsp;</p>
                                <p class="lp-vinyasa-yoga">
                                    Lớp Vinyasa Yoga là sự kết hợp giữa các động tác và hơi thở.
                                    Giúp bạn tập trung và điều chỉnh nhịp thở theo các động tác
                                    liền mạch. Bài tập này giúp cơ thể dẻo dai, tăng cường sức
                                    mạnh và cải thiện sự linh hoạt. Lớp học phù hợp với mọi cấp
                                    độ, mang lại cảm giác hài hòa và thư giãn.
                                </p>
                            </div>
                        </div>
                        <img class="image-6-icon"
                             loading="lazy"
                             alt=""
                             src="~/Content/img/image 6.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="ng-k-gi-dch-v-wrapper">
            <h1 class="ng-k-gi">ĐĂNG KÝ GÓI DỊCH VỤ</h1>
        </section>
        <section class="package-container-wrapper">
            <div class="package-container">
                <div class="package-header-container">
                    <div class="package-header-icons">
                        <div class="thang">
                            <div class="package-header-separators">
                                <div class="empty-package-header-element">
                                    <div class="empty-header-cell">1</div>
                                </div>
                            </div>
                            <h1 class="gi-1-thng">GÓI 1 THÁNG</h1>
                        </div>
                    </div>
                    <div class="thang1">
                        <div class="thang-inner">
                            <div class="wrapper">
                                <div class="div">3</div>
                            </div>
                        </div>
                        <h1 class="gi-3-thng">GÓI 3 THÁNG</h1>
                    </div>
                    <div class="package-header-icons1">
                        <div class="thang2">
                            <div class="thang-child">
                                <div class="container">
                                    <div class="div1">6</div>
                                </div>
                            </div>
                            <h1 class="gi-6-thng">GÓI 6 THÁNG</h1>
                        </div>
                    </div>
                    <div class="thang3">
                        <div class="frame-div">
                            <div class="frame">
                                <div class="div2">12</div>
                            </div>
                        </div>
                        <h1 class="gi-12-thng">GÓI 12 THÁNG</h1>
                    </div>
                </div>
                <div class="package-description-container">
                    <div class="gi-3-thng-container">
                        <p class="gi-3-thng1">
                            <span class="gi-3-thng2">
                                <span>Gói 3 tháng</span>
                            </span>
                        </p>
                        <p class="blank-line6">
                            <span class="blank-line7">
                                <span>&nbsp;</span>
                            </span>
                        </p>
                        <p class="gi-dch-v">
                            Gói dịch vụ có thời hạn 3 tháng cho khách hàng. Bạn sẽ có quyền
                            sử dụng tất cả các lớp tập luyện và trang thiết bị miễn phí
                            trong suốt 3 tháng. Gói này phù hợp cho những người muốn bắt đầu
                            thói quen luyện tập đều đặn và thấy sự tiến bộ rõ rệt.
                        </p>
                    </div>
                </div>
                <div class="package-registration-container">
                    <div class="registration-button-container">
                        <button class="btndangky">
                            <div class="ng-k">Đăng ký</div>
                        </button>
                    </div>
                    <div class="f-a-q-container-parent">
                        <div class="f-a-q-container">
                            <div class="f-a-q-content">
                                <h1 class="cu-hi-thng">CÂU HỎI THƯỜNG GẶP</h1>
                                <div class="first-question-container">
                                    <div class="first-question-content">
                                        <h1 class="cc-chng-trnh">
                                            Các chương trình HLV 1 kèm 1 tại Power Fitness thường
                                            kéo dài bao lâu?
                                        </h1>
                                    </div>
                                    <div class="second-question-container">
                                        <div class="second-question-content">
                                            <div class="liu-chng-trnh-container">
                                                <p class="liu-chng-trnh">
                                                    Liệu chương trình HLV của tôi có hiệu quả tốt với
                                                    những người tăng cân sinh khí hay duy trì?
                                                </p>
                                                <p class="blank-line8">&nbsp;</p>
                                                <p class="chi-ph-cho">
                                                    Chi phí cho chương trình huấn luyện cá nhân tại
                                                    Power Fitness như thế nào?
                                                </p>
                                                <p class="blank-line9">&nbsp;</p>
                                                <p class="tn-sut-tp">
                                                    Tần suất tập luyện như thế nào để đạt hiệu quả?
                                                </p>
                                            </div>
                                        </div>
                                        <div class="second-question-content1">
                                            <div class="gi-tp-c-container">
                                                <p class="blank-line10">&nbsp;</p>
                                                <p class="gi-tp-c">
                                                    Gói tập có thời hạn hay không? Tôi có được bảo lưu
                                                    gói tập khi thời gian không cho phép hay không?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="image-8-icon"
                             loading="lazy"
                             alt=""
                             src="~/Content/img/image 8.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial-container-wrapper">
            <div class="testimonial-container">
                <div class="testimonial-heading-container">
                    <h1 class="cm-nhn-hi">CẢM NHẬN HỘI VIÊN</h1>
                </div>
                <img class="untitled-2-1-icon"
                     loading="lazy"
                     alt=""
                     src="~/Content/img/Untitled-2 1.png" />
            </div>
        </section>
        <section class="testimonial-description-contai">
            <b class="ch-thu-phng-container">
                <span class="ch-thu-phng-container1">
                    <p class="ch-thu-phng">
                        Chị Thu Phượng - Giảm 13kg thành công cùng HLV
                    </p>
                    <p class="blank-line11">&nbsp;</p>
                    <p class="tp-gym-l">
                        "Tập gym là lựa chọn tuyệt vời với mình, nhất là khi thấy cân nặng
                        giảm dần, sức khỏe cải thiện rõ rệt. Từ tự tin và yêu đời hơn.
                        Không còn căng thẳng vì tử. Lúc nào cũng cảm thấy sợ người khác
                        nhìn béo nữa. Thực sự tôi cảm thấy yêu bản thân hơn, việc ăn uống
                        lành mạnh trở thành sở thích lớn của mình bây giờ."
                    </p>
                </span>
            </b>
        </section>
        <section class="related-service-container-wrapper">
            <div class="related-service-container">
                <div class="related-service-heading-contai">
                    <h1 class="dch-v-lin">DỊCH VỤ LIÊN QUAN</h1>
                </div>
                <div class="related-service-content">
                    <div class="first-related-service">
                        <div class="first-service-container">
                            <h3 class="tri-nghim-chng">
                                Trải nghiệm chương trình tập luyện không giới hạn khi trở
                                thành hội viên tại Power Fitness Center.
                            </h3>
                            <div class="first-service-image-container">
                                <div class="first-service-image-content">
                                    <img class="image-13-icon"
                                         loading="lazy"
                                         alt=""
                                         src="~/Content/img/image 13.png" />

                                    <div class="thi-bng-ngn-la-chin-binh-wrapper">
                                        <div class="thi-bng-ngn-container">
                                            <p class="thi-bng-ngn-la-chin-binh">
                                                <b class="thi-bng-ngn">
                                                    Thổi Bùng Ngọn Lửa Chiến Binh Cùng Kickfit & MMA
                                                </b>
                                            </p>
                                            <p class="khi-dy-tinh-thn-chin-u-v">
                                                <span class="khi-dy-tinh">
                                                    Khơi dậy tinh thần chiến đấu và rèn luyện thân thể
                                                    cùng các lớp học võ chuyên nghiệp cùng các HLV. Làm
                                                    chủ các kỹ năng chiến đấu, phản xạ, và sự dẻo dai để
                                                    tạo nên chiến binh thực thụ. Luyện tập đều đặn sẽ
                                                    biến bạn thành một chiến binh mạnh mẽ và tự tin
                                                    hơn.
                                                </span>
                                            </p>
                                            <p class="xem-thm">
                                                <a class="xem-thm1" href="#" target="_blank">
                                                    <b class="xem-thm2">XEM THÊM ➔</b>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-related-service">
                        <div class="cng-ng-truyn-container">
                            <span class="cng-ng-truyn-container1">
                                <p class="cng-ng-truyn-cm-hng-cho">
                                    <b class="cng-ng-truyn">
                                        Cộng Đồng Truyền Cảm Hứng Cho Bạn Trở Nên Tốt Hơn Nữa
                                    </b>
                                </p>
                                <p class="cng-lng-nghe-nhng-cu-chuy">
                                    <span class="cng-lng-nghe">
                                        Cùng lắng nghe những câu chuyện từ các hội viên khác và
                                        tìm động lực cho riêng mình. Hãy tham gia để trải nghiệm
                                        những gì mà cơ thể mới mẻ, khỏe mạnh, và sảng khoái đang
                                        chờ đón bạn.
                                    </span>
                                </p>
                                <p class="xem-thm3">
                                    <a class="xem-thm4" href="#" target="_blank">
                                        <b class="xem-thm5">XEM THÊM ➔</b>
                                    </a>
                                </p>
                            </span>
                        </div>
                        <div class="second-service-image-container">
                            <img class="untitled-1-1-icon"
                                 loading="lazy"
                                 alt=""
                                 src="~/Content/img/Untitled-1.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>