
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-gt">
    <div class="left-column">
        <h1>CHINH PHỤC MỤC TIÊU Ở NHIỀU CẤP ĐỘ</h1>
    </div>
    <div class="right-column">
        <div class="intro">
            <img src="/img/slideshow-gym.png" alt="Bodybuilder">
            <h2>Chương trình dành cho người mới</h2>
            <p>Bạn mới bắt đầu tập luyện và chưa biết bắt đầu từ đâu? Hãy đến với chương trình đặc biệt của chúng tôi. Với sự hướng dẫn của huấn luyện viên chuyên nghiệp, bạn sẽ nhanh chóng làm quen với các bài tập và đạt được những mục tiêu thể hình của mình.</p>
        </div>
        <div class="steps">
            <h2>QUY TRÌNH TƯ VẤN</h2>
            <div class="step">
                <div class="step-number">Bước 01</div>
                <div class="step-description">
                    <p>Inbody - Đo chỉ số cơ thể</p>
                </div>
            </div>
            <div class="step">
                <div class="step-number">Bước 02</div>
                <div class="step-description">
                    <p>Xây dựng chương trình tập luyện & dinh dưỡng</p>
                </div>
            </div>
            <div class="step">
                <div class="step-number">Bước 03</div>
                <div class="step-description">
                    <p>Theo sát & thay đổi chu trình</p>
                </div>
            </div>
        </div>
    </div>
</div>

